a, h1, h2, h3, p, td, th, label, span, div, button {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

body {
    background-color: #fee;
}

nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav-element {
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    white-space: nowrap;
}

a {
    text-decoration: none;
    cursor: pointer;
    overflow-wrap: break-word;
}

table {
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
    word-break: break-word;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

.nav-element:visited {
    color: blue;
}

h1, h2 {
    border-bottom: 1px solid;
}

.page {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

select {
    color: black;
}

@media screen and (max-width: 500px) {
    table {
        font-size: 75%
    }
}