a, h1, h2, h3, p, td, th, label, span, div {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

body {
    background-color: #fee;
}

nav {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    white-space: nowrap;
}

a {
    text-decoration: none;
    cursor: pointer;
}

table {
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

h1, h2 {
    border-bottom: 1px solid;
}

.nav-element {
    font-size: 2vw;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}

.page {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}