#template {
    display: block;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    outline: none;
    font-size: 16px;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: black;
    color: white;
}
  
/* Style the collapsible content. Note: hidden by default */
.content {
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.content thead {
    border: 2px solid black;
}

.content td {
    text-align: center;
}
  