#template {
    display: none;
}

.touhou-work {
    margin: 20px 0;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: transparent;
    cursor: pointer;
    padding: 4px;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: black;
    color: white;
}
  
/* Style the collapsible content. Note: hidden by default */
.content {
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: white;
}

.content thead {
    border: 2px solid black;
}

.content td {
    text-align: center;
}

.work-type {
    margin-top: 50px;
}
  